/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.5s, color 0.5s;
  color: aliceblue;
}

a {
  transition: color 0.3s ease;
}

.fade-in {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


nav a:hover {
  color: #6366f1;
}
#loader {
  position: fixed;
  z-index: 1000;
  background: white;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: opacity 0.6s ease;
}
#loader.hidden {
  opacity: 0;
  pointer-events: none;
}

